<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <style>
            .correct{
                border-color: green;
            }

            .incorrect{
                border-color: red;

            }
        </style>
    </head>
    <body style="background-color:  #d2f77e" layout:fragment="body">
        <div class="container">
            <div class="col-12" >
                <button class="btn btn-outline-dark " id="Archivo" name="Archivo">
                    <i class="bi bi-browser-firefox"></i>
                    Archivo
                </button>
            </div>
            <br>
            <div class="row m-3" id="btnSeleccion" >
                <button  class="btn btn-primary col-md-6" id="btnXlsx" name="btnXlsx" >
                    <i class="bi bi-filetype-xlsx"></i>
                    XLSX
                </button>
                <button  class="btn btn-primary col-md-6" id="btnTxt" name="btnTxt">
                    <i class="bi bi-filetype-txt"></i>
                    TXT
                </button>
            </div>
            <form class="row g-3" id="formArchivo" name="formArchivo" method="post" enctype="multipart/form-data" th:action="@{/usuario/cargaMasiva/Procesar}" >

                <div class="col-md-4">

                    <label for="Imagen" class="form-label "><h6>Archivo</h6></label>
                    <input type="file" class="form-control border border-dark rounded-pill" onpaste="return false" name="archivo" id="archivo" accept=".xlsx, .txt">

                    <br>
                    <button type="submit" class="btn btn-secondary col-md-6" id="btnArchivo" name="btnArchivo">
                        Subir Archivo
                    </button>
                </div>

            <br>
            <button class="btn btn-secondary col-md-6" id="btnCargar" name="btnCargar">
                Cargar Archivo
            </button>  
            </form>
          
            <br>
            <div class="row m-3" id="btnMostrarBtn" >
                <button  class="btn btn-primary col-md-6" id="btnMostrar" name="btnMostrar">
                    <i class="bi bi-filetype-txt"></i>
                    Mostrar boton de carga
                </button>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#btnSeleccion').hide();
                $('#formArchivo').hide();
                $('#btnCargar').hide();
                $('#btnMostrar').hide();

                $('#Archivo').click(function () {
                    $('#btnSeleccion').toggle();
                });

                let archivoTipo = "";
                $('#btnXlsx').click(function () {
                    archivoTipo = "xlsx";
                    $('#formArchivo ').toggle();
                    $('#btnCargar ').toggle();
                    $('#btnMostrar ').toggle();

                });
                $('#btnTxt').click(function () {
                    archivoTipo = "txt";
                    $('#formArchivo ').toggle();
                    $('#btnCargar ').toggle();
                    $('#btnMostrar ').toggle();
                });

                $('#archivo').change(function () {
                    if (this.files.length > 0) {
                        var fileName = this.files[0].name;
                        var fileExtension = fileName.split('.').pop().toLowerCase();

                        if (fileExtension !== archivoTipo) {
                            alert("Por favor, seleccione un archivo " + archivoTipo.toUpperCase() + " válido.");
                            this.value = "";
                        }
                    }
                });

                $('#btnArchivo').hide();
                $('#btnCargar').click(function () {
                    $('#btnArchivo ').toggle();
                    $('#formArchivo').attr('action', 'cargaMasiva');

                });
                $('#btnArchivo2').hide();
                $('#btnMostrar').click(function () {
                    $('#btnArchivo ').toggle();
//                    $('#formArchivo').attr('action', 'cargaMasiva');

                });

            });

        </script>
    </body>
</html>
