<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
    <head>
        <style>

            body{
                background-color:  #c7ceb9;
            }

        </style>
    </head>
    <body layout:fragment="body">
        
        <div class="container">
            <div class="row">
                <div sec:authorize="isAuthenticated()" class="col-md-4 offset-md-4">
                    <h1> Bienvenido <span sec:authentication="name"></span>, tu rol es <span sec:authentication="principal.authorities"></span> </h1> 
                </div>
            </div>
        </div>

        <div class="container">
            <form class="row g-3" id="formUsuario" name="formUsuario" method="post" th:object="${usuarioDireccion}" th:action="@{/usuario/index}" >

                <div class="buscador">
                    <div class="col-md-4 ">
                        <label for="NombreUsuario" class="form-label "><h6>Nombre</h6></label>
                        <input type="text" class="form-control border border-dark rounded-pill" placeholder="Adalberto" 
                               th:field="*{Usuario.NombreUsuario}" onpaste="return false" id="NombreUsuario" >
                        <span class="text-danger"  th:if="${#fields.hasErrors('Usuario.NombreUsuario')}" th:errors="*{Usuario.NombreUsuario}"></span>
                    </div>
                    <div class="col-md-4 ">
                        <label  class="form-label"><h6>Apellido Paterno</h6></label>
                        <input type="text" class="form-control border border-dark rounded-pill"  placeholder="Salinas"
                               th:field="*{Usuario.ApellidoPatUsuario}" onpaste="return false">
                        <span class="text-danger"  th:if="${#fields.hasErrors('Usuario.ApellidoPatUsuario')}" th:errors="*{Usuario.ApellidoPatUsuario}"></span>
                    </div>
                    <div class="col-md-4 ">
                        <label class="form-label"><h6>Apellido Materno</h6></label>
                        <input type="text" class="form-control border border-dark rounded-pill" placeholder="Jose"
                               th:field="*{Usuario.ApellidoMatUsuario}" onpaste="return false" >
                        <span class="text-danger"  th:if="${#fields.hasErrors('Usuario.ApellidoMatUsuario')}" th:errors="*{Usuario.ApellidoMatUsuario}"></span>
                    </div>
                    <div class="col-md-4 ">
                        <label for="inputRoll" class="form-label "><h6>Roll</h6></label>
                        <select id="inputRoll" required  class="form-select border border-dark rounded-pill" th:field="*{Usuario.Roll.IdRoll}">
                            <option selected value="0" >Elije...</option>
                            <option th:each="roll : ${rolles}" th:value="${roll.IdRoll}" th:text="${roll.NombreRoll}"  ></option>
                        </select>
                    </div>
                    <!--                    <div class="form-check form-switch ">
                                            <input class="form-check-input" type="checkbox" id="CheckActivo" th:field="*{Usuario.ActivoUsuario}" value=0>
                                            <label class="form-check-label" id="Activo" >Actividad del Usuario</label>
                                        </div>-->


                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="CheckActivo" 
                               th:field="*{Usuario.ActivoUsuario}" th:value="*{Usuario.ActivoUsuario}"/>
                        <label class="form-check-label" for="CheckActivo">Activo</label>
                    </div>
                </div>
                <div class="col-12  buscador" >
                    <button type="submit" class="btn btn-outline-primary" id="Buscar" name="Buscar">
                        <i class="bi bi-search"></i>
                        Buscar
                    </button>
                </div>
            </form>

            <table class="table table-striped-columns  table-hover table-striped table-responsive">
                <thead >
                    <tr>
                        <th scope="col" sec:authorize="hasAnyAuthority('Programador', 'Analista')">
                            <a th:href="@{/usuario/addUser/0}">
                                <button class="btn btn-primary" >
                                    <i class="bi bi-person-fill-add"></i>
                                    Usuario
                                </button>
                            </a>
                        </th>
                        <th scope="col" sec:authorize="hasAuthority('Programador')">
                            <div class="col-12" >
                                <button class="btn btn-success " id="mostrarBuscar" name="mostrarBuscar"><!-- "-outline" -->
                                    <i class="bi bi-bing"></i>
                                    Buscador
                                </button>
                            </div>
                        </th>
                        <th scope="col">
                            <form name='formLogout' th:action="@{/logout}" method='POST'>
                                <table>
                                    <tr>
                                        <td>
                                            <button type="submit" class="btn btn-dark" id="Login">
                                                Cerrar sesión
                                            </button>
                                        </td>

                                    </tr>
                                </table>
                            </form>
                        </th>
                    </tr> 
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Roll</th>
                        <th scope="col" sec:authorize="hasAnyAuthority('Programador', 'Analista')">Editar</th>
                        <th scope="col" sec:authorize="hasAuthority('Programador')">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="table-dark" >
                    <tr th:each="usuarioDireccion : ${usuariosDireccion}"  >
                        <td th:text="${usuarioDireccion.usuario.IdUsuario}" th:attr="data-id=${usuarioDireccion.usuario.IdUsuario}" id="ddlidUsuario"></td>
                        <td> <image style="width: 100px" th:src="${usuarioDireccion.usuario.Imagen == null} ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png' : 'data:image/png;base64,'+ ${usuarioDireccion.usuario.Imagen}"></td>
                        <td th:text="|${usuarioDireccion.usuario.NombreUsuario} ${usuarioDireccion.usuario.ApellidoPatUsuario} ${usuarioDireccion.usuario.ApellidoMatUsuario}|"></td>
                        <td th:text="|correo: ${usuarioDireccion.usuario.CorreoUsuario} cel: ${usuarioDireccion.usuario.CelularUsuario} tel: ${usuarioDireccion.usuario.TelefonoUsuario}|"></td>
                        <td>
                            <ul>
                                <!--
                                Al poner direcciones ya no se necesita ingresar a "usuarioDireccion.Direccion.Calle" como en los casos anteriores
                                ya que al ingresar directamente a la direccion solo se pone "Direccion.Calle"
                                
                                tambien se usa el if de una sola linea para evaluar la calle puesto que si viene vacio todo lo demas sera igual
                                este if es limitado por lo que sepuede usar en su mayora como un boolean (true or false)
                                evaluar ? verdad : else
                                en usuarioDireccion se tiene un arraylist de Direcciones
                                -->
                                <li th:each="Direccion : ${usuarioDireccion.Direcciones}"
                                    th:text=
                                    "${Direccion.Calle} == null ? 'No tiene direccion' : | ${Direccion.Calle}
                                    ${Direccion.NumeroInterior} 
                                    ${Direccion.NumeroExterior}, 
                                    ${Direccion.Colonia.NombreColonia}  
                                    ${Direccion.Colonia.CodigoPostal}, 
                                    ${Direccion.Colonia.Municipio.NombreMunicipio},
                                    ${Direccion.Colonia.Municipio.Estado.NombreEstado}, 
                                    ${Direccion.Colonia.Municipio.Estado.Pais.NombrePais}|"
                                    >
                                <li th:each="Direccion : ${usuarioDireccion.Direcciones}"
                                    th:hidden="${Direccion.Calle} == null ? 0 : ${Direccion.IdDireccion}"
                                    th:value= "${Direccion.Calle} == null ? 0 : ${Direccion.IdDireccion}"
                                    id="ddlDireccion"
                                    >
                                </li>
                            </ul>
                        </td>

                        <td th:text="${usuarioDireccion.usuario.Roll.NombreRoll}" ></td>
                        
                        <td sec:authorize="hasAnyAuthority('Programador', 'Analista')">
                            <!--boton para editar-->
                            <a th:href="@{'/usuario/addUser/' + ${usuarioDireccion.usuario.IdUsuario} }">
                                <button class="btn btn-outline-warning " id="btnEditar">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('Programador')">
                            <!--boton para eliminar-->
                            <a th:href="@{'/usuario/deleteUser/' + ${usuarioDireccion.usuario.IdUsuario}  }">
                                <!--${usuarioDireccion.Direccion.idDireccion}-->
                                <button class="btn btn-outline-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('#formUsuario').hide();
                $('#mostrarBuscar').click(function () {
                    $('#formUsuario').toggle();
                });

                $('#CheckActivo').prop('checked', false);
                $('#CheckActivo').change(function () {
                    if (this.checked) {
//                        $('*{Usuario.ActivoUsuario}').val(this.value = 1);
                        this.value = 1;
                        $('#Activo').text('Activo');
                    } else {
//                        $('*{Usuario.ActivoUsuario}').val(this.value = 0);
                        this.value = 0;
                        $('#Activo').text('Inactivo');
                    }
                });

            });

        </script>
    </body>
</html>
